a {
  text-decoration-line: underline;
}

.post-btn {
  width: 110px;
  height: 110px;
  background: #3ccace;
  text-align: center;
  border-radius: 50%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 10px;
  text-decoration: none;
}

.post-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.post-btn-icon {
  width: 60%;
}

.main {
  height: 1200px;
  background: linear-gradient(rgba(24, 20, 143, 0.857), #84d3ef);
}


.page-title {
  top: 25px;
  left: 25px;
  font-size: 40px;
  color: azure;
  text-align: center;
  font-family: "游ゴシック", "YuGothic";
}
.moon-img1 {
  height: 400px;
  object-fit: contain;
  width: 100%
}




.posts {
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  top: 90px;
  justify-content: center;
}

.card {
  width: 220px;
  aspect-ratio: 1 / 1;
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(30deg, rgb(235, 239, 132), rgb(217, 245, 246));
  border-radius: 50%;
  text-align : center
}

.card-title,
.card-text,
.card-user {
  text-decoration: none;
}
.card-text {
  padding: 0 5px;
}

.edit-posts {
width: 500px;
}
.text-form {
  margin-bottom: 20px;
}
.count_chara {
  text-align: right;
  font-size: 15px;
  color: #3d3d3edb;
}

form input,
form textarea {
  width: 500px;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  background-color: #57C3E9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #84d3ef;
}

.field {
  width: 500px;
}

header {
  background-color: #10177bdb;

}

.nav {
  display: flex;
  justify-content: space-between;
}

.pagenation {
  height: min-content;
  width: 300px;

}
.logo {
  width: 130px;
  font-size: 40px;
  color: #e8ebb2;
  text-decoration: none;
}
.lists-right {

}
.logout,
.user-nickname,
.login,
.sign-up {
  color: aliceblue;
}


.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  padding-top: 100px;

}

.intro-text {
  color: aliceblue;
  font-family: "游ゴシック", "YuGothic";
  font-size: 18px;
}

.page-title {
  margin-bottom: 50px;
}